PLEXEDC.WEB.UI/PLEXEDC.WEB.UI/Service References/ServiceReference2/Service Request.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://siebel.com/CustomUI" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
      <xsd:element name="QueryServiceRequest_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SRNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryServiceRequest_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Description" type="xsd:string" />
            <xsd:element name="Error_spcCode" type="xsd:string" />
            <xsd:element name="Error_spcMessage" type="xsd:string" />
            <xsd:element name="SRStatus" type="xsd:string" />
            <xsd:element name="Status" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateServiceRequest_1_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SRType" type="xsd:string" />
            <xsd:element name="Summary" type="xsd:string" />
            <xsd:element name="Channel" type="xsd:string" />
            <xsd:element name="MDA" type="xsd:string" />
            <xsd:element name="SubArea" type="xsd:string" />
            <xsd:element name="NationalId" type="xsd:string" />
            <xsd:element name="Area" type="xsd:string" />
            <xsd:element name="BusinessId" type="xsd:string" />
            <xsd:element name="Description" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateServiceRequest_1_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Error_spcCode" type="xsd:string" />
            <xsd:element name="Error_spcMessage" type="xsd:string" />
            <xsd:element name="ServiceRequestId" type="xsd:string" />
            <xsd:element name="ServiceRequestNumber" type="xsd:string" />
            <xsd:element name="Status" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateServiceRequest_1_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Summary" type="xsd:string" />
            <xsd:element name="ClosureComments" type="xsd:string" />
            <xsd:element name="ServiceRequestStatus" type="xsd:string" />
            <xsd:element name="ServiceRequestNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateServiceRequest_1_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Error_spcCode" type="xsd:string" />
            <xsd:element name="Error_spcMessage" type="xsd:string" />
            <xsd:element name="Status" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="QueryServiceRequest_Input">
    <part name="QueryServiceRequest_Input" element="tns:QueryServiceRequest_Input" />
  </message>
  <message name="QueryServiceRequest_Output">
    <part name="QueryServiceRequest_Output" element="tns:QueryServiceRequest_Output" />
  </message>
  <message name="CreateServiceRequest_1_Input">
    <part name="CreateServiceRequest_1_Input" element="tns:CreateServiceRequest_1_Input" />
  </message>
  <message name="CreateServiceRequest_1_Output">
    <part name="CreateServiceRequest_1_Output" element="tns:CreateServiceRequest_1_Output" />
  </message>
  <message name="UpdateServiceRequest_1_Input">
    <part name="UpdateServiceRequest_1_Input" element="tns:UpdateServiceRequest_1_Input" />
  </message>
  <message name="UpdateServiceRequest_1_Output">
    <part name="UpdateServiceRequest_1_Output" element="tns:UpdateServiceRequest_1_Output" />
  </message>
  <portType name="HDKQuerySR">
    <operation name="QueryServiceRequest">
      <input message="tns:QueryServiceRequest_Input" />
      <output message="tns:QueryServiceRequest_Output" />
    </operation>
  </portType>
  <portType name="HDKCreateSR">
    <operation name="CreateServiceRequest_1">
      <input message="tns:CreateServiceRequest_1_Input" />
      <output message="tns:CreateServiceRequest_1_Output" />
    </operation>
  </portType>
  <portType name="HDKUpdateSR">
    <operation name="UpdateServiceRequest_1">
      <input message="tns:UpdateServiceRequest_1_Input" />
      <output message="tns:UpdateServiceRequest_1_Output" />
    </operation>
  </portType>
  <binding name="HDKQuerySR" type="tns:HDKQuerySR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryServiceRequest">
      <soap:operation soapAction="document/http://siebel.com/CustomUI:QueryServiceRequest" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="HDKCreateSR" type="tns:HDKCreateSR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateServiceRequest_1">
      <soap:operation soapAction="document/http://siebel.com/CustomUI:CreateServiceRequest_1" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="HDKUpdateSR" type="tns:HDKUpdateSR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="UpdateServiceRequest_1">
      <soap:operation soapAction="document/http://siebel.com/CustomUI:UpdateServiceRequest_1" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HDK_spcService_spcRequest">
    <port name="HDKQuerySR" binding="tns:HDKQuerySR">
      <soap:address location="http://52.20.254.122/eai_anon_enu/start.swe?SWEExtSource=AnonWebService&amp;SweExtCmd=Execute" />
    </port>
    <port name="HDKCreateSR" binding="tns:HDKCreateSR">
      <soap:address location="http://52.20.254.122/eai_anon_enu/start.swe?SWEExtSource=AnonWebService&amp;SweExtCmd=Execute" />
    </port>
    <port name="HDKUpdateSR" binding="tns:HDKUpdateSR">
      <soap:address location="http://52.20.254.122/eai_anon_enu/start.swe?SWEExtSource=AnonWebService&amp;SweExtCmd=Execute" />
    </port>
  </service>
</definitions>