PLEXEDC.WEB.UI/PLEXEDC.WEB.BAL/Service References/SiebelReferenceRequestGet/Get SR List.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/HDK%20Service%20Request" xmlns:tns="http://siebel.com/CustomUI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
      <xsd:import namespace="http://www.siebel.com/xml/HDK%20Service%20Request" />
      <xsd:element name="EDC_spcGet_spcSR_spcList_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CustomerId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EDC_spcGet_spcSR_spcList_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:ListOf_ServiceRequest" />
            <xsd:element name="Error_spcCode" type="xsd:string" />
            <xsd:element name="Error_spcMessage" type="xsd:string" />
            <xsd:element name="Status" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/HDK%20Service%20Request">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="ListOf_ServiceRequest" type="xsdLocal1:ListOf_ServiceRequest" />
      <xsd:complexType name="ListOf_ServiceRequestTopElmt">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ListOf_ServiceRequest" type="xsdLocal1:ListOf_ServiceRequest" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOf_ServiceRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ServiceRequest" type="xsdLocal1:ServiceRequest" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServiceRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="SRNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SubArea" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SubStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Priority" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Summary" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ClosureComments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CitizenId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="EDC_spcGet_spcSR_spcList_Input">
    <part name="EDC_spcGet_spcSR_spcList_Input" element="tns:EDC_spcGet_spcSR_spcList_Input" />
  </message>
  <message name="EDC_spcGet_spcSR_spcList_Output">
    <part name="EDC_spcGet_spcSR_spcList_Output" element="tns:EDC_spcGet_spcSR_spcList_Output" />
  </message>
  <portType name="EDC_spcGet_spcContact_spcSR_spcWF">
    <operation name="EDC_spcGet_spcSR_spcList">
      <input message="tns:EDC_spcGet_spcSR_spcList_Input" />
      <output message="tns:EDC_spcGet_spcSR_spcList_Output" />
    </operation>
  </portType>
  <binding name="EDC_spcGet_spcContact_spcSR_spcWF" type="tns:EDC_spcGet_spcContact_spcSR_spcWF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="EDC_spcGet_spcSR_spcList">
      <soap:operation soapAction="document/http://siebel.com/CustomUI:EDC_spcGet_spcSR_spcList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EDC_spcGet_spcContact_spcSR">
    <port name="EDC_spcGet_spcContact_spcSR_spcWF" binding="tns:EDC_spcGet_spcContact_spcSR_spcWF">
      <soap:address location="http://147.135.177.50/eai_anon_enu/start.swe?SWEExtSource=AnonWebService&amp;SweExtCmd=Execute" />
    </port>
  </service>
</definitions>